* {
    -fx-lateral-color: #ffffff;
    -fx-lateral-color-hover: #f9f9f9;
    -fx-dashboard-color: #e5eaf1;
    -fx-font-color-dark: #000000;
    -fx-font-color-dark-muted: #303336;
    -fx-secondary-color: #035397;
}

.body_color {
    -fx-background-color: -fx-dashboard-color;
}

.sidebar_body_color {
    -fx-background-color: -fx-lateral-color;
}

.sidebar_body {
    -fx-padding: 10 0 10 10;
}

/*spaces*/
.sidebar_body_space {
    -fx-spacing: 50;
}

.sidebar_space {
    -fx-spacing: 10;
}

/*buttons*/
.button,
.button_sidebar {
    -fx-background-color: -fx-lateral-color;
    -fx-border-width: 0;
    -fx-padding: 5 0 5 20;
    -fx-background-radius: 10;
}

.button_sidebar_space {
    -fx-spacing: 15;
}

/*Effect button*/
.button_sidebar:hover {
    -fx-background-color: -fx-lateral-color-hover;
}

/*text*/
.label {
    -fx-font-size: 18;
}

.title_app {
    -fx-text-fill: -fx-secondary-color;
    -fx-font-size: 20;
}

.text_button_sidebar {
    -fx-text-fill: -fx-font-color-dark;
}

.text_button_sidebar_pressed {
    -fx-text-fill: -fx-secondary-color;
}